@using System.Data.Entity
@using StudentEducationSystem.Models
@model StudentEducationSystem.Models.Exam

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}


<div class="container">
    <div class="row my-4">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#chartofsuccess" data-toggle="tab" class="nav-link active">Başarım Oranlari</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#chartofchange" data-toggle="tab" class="nav-link">Değişim Grafiği</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="chartofsuccess">
                    <div class="form-group row">
                        <div class="col-lg-9">
                            @using (Html.BeginForm("Index", "Statistic", FormMethod.Post))
                            {
                                <strong class="col-lg-3 ml-1">Tarih:</strong>
                                <input type="text" id="datepicker" class="pl-1" readonly="readonly" />
                                <button type="submit" class="btn btn-info">Getir</button>
                                <img src="@ViewBag.ChartOfSuccess" alt="ChartOfSuccess" />
                            }
                        </div>
                        <br />
                    </div>
                </div>

                <div class="tab-pane" id="chartofchange">
                    <h5 class="mb-3"></h5>
                    <img src="@ViewBag.ChartOfChange" alt="ChartOfChange" />
                </div>
            </div>
        </div>

    </div>
</div>

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script>
    $("#datepicker").datepicker({
        dateFormat: "dd-mm-yy",
        altFormat: "yymmdd",
        maxDate: '0',
        changeYear: true,
        changeMonth: true,
        monthNamesShort: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
        dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
        numberOfMonths: 1,
        firstDay: 1
    }).on('change', function () {
        $(this).valid();
    });

    $("#datepicker").datepicker().datepicker("setDate", new Date());
</script>
