
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}
<script src="~/Design/js/loader.js"></script>
<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#lastExamstatistic" data-toggle="tab" class="nav-link active">Son Sınav Grafiği</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#categoryStatistic" data-toggle="tab" class="nav-link">Kategorilere Göre Sınav Grafiği</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="lastExamstatistic">
                    <h5 class="mb-3">Son 3 Sınav Grafiğiniz Baz Alınmıştır</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-body">
                                <table class="columns">
                                    <tr>
                                        <td>
                                            <div class="col-md-6" id="areachart_div"></div>
                                        </td>

                                    </tr>
                                </table>
                            </div>


                        </div>


                    </div>
                    <!--/row-->
                </div>

                <div class="tab-pane" id="categoryStatistic">

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Sınav Tarihleri</label>

                        <div class="col-lg-9">
                            @Html.DropDownList("ExamTimes", null, new { @class = "form-control input-lg", id = "examTimes" })

                        </div>
                        <br />
                        <table class="columns">
                            <tr>
                                <td>
                                    <div class="col-md-6" id="piechart_div"></div>
                                </td>

                            </tr>
                        </table>


                    </div>



                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $("#examTimes").change(function () {
        getCategoryExam();
    });

    function getCategoryExam() {
        google.charts.load('current', {
            packages: ['corechart']

        }).then(function () {
            var date = $("#examTimes").val();
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '/Statistic/CategoryExam/?date=' + date,
                success: function (result) {
                    console.log(result);
                    drawChart(result);
                }
            });


            function drawChart(result) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Name');
                data.addColumn('number', 'Point');

                var dataArray = [];

                $.each(result, function (i, obj) {
                    dataArray.push([obj.Name, parseInt(obj.Point)]);

                });

                data.addRows(dataArray);

                var piechart_options = {
                    title: 'Öğrenci Performansı',
                    width: 800,
                    height: 600,
                    is3D: true,
                    animation: {
                        duration: 100,
                        easing: 'out',
                    },
                    vAxis: { minValue: 0, maxValue: 100 }

                };
                var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
                piechart.draw(data, piechart_options);
            }
        });
    }
</script>
<script type="text/javascript">

    google.charts.load('current', {
        packages: ['corechart']
    }).then(function () {
        $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("LastThreeExam", "Statistic")',
                success: function (result) {
                    console.log(result);
                    drawChart(result);
                }
            });


        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Point');

            var dataArray = [];

            $.each(result, function (i, obj) {
                var date = new Date(parseInt(obj.Date))
                dataArray.push([obj.Date.toString(),parseInt(obj.Point)]);

            });

            data.addRows(dataArray);

            var areachart_options = {
                title: 'Öğrenci Performansı',
                width: 800,
                height: 600,
                is3D: true,
                animation:{
                    duration: 100,
                    easing: 'out',
                },
                vAxis: {minValue:0, maxValue:100}

            };
            var areachart = new google.visualization.AreaChart(document.getElementById('areachart_div'));
            areachart.draw(data, areachart_options);
        }
    });

</script>