
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<link href="~/Design/css/mainForm.css" rel="stylesheet" />
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#addQuestion" data-toggle="tab" class="nav-link active">Soru Ekle</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#addCategory" data-toggle="tab" class="nav-link">Kategori Ekle</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="addQuestion">
                   
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Create", "Question", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div id="contact-form" class="form-container" data-form-container="">
                                    <div class="container">
                                        <h2 class="text-center">Soru Ekle</h2>
                                    </div>
                                    <div class="input-container">
                                        <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Soruyu Giriniz."> </span>
                                                <input type="text" name="title" maxlength="250" placeholder="Soruyu Giriniz..." required>
                                            </span>
                                        </div>

                                        <div class="row" id="inputPad">
                                            @Html.DropDownList("Categories", null, new { @class = "form-control" })


                                        </div>

                                        <div class="row" id="inputPad">
                                            <input type="file" name="file">

                                        </div>
                                        <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Cevabı Giriniz"> </span>
                                                <input type="text" name="answer" maxlength="250" placeholder="Cevabı Giriniz..." required>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Birinci Şık Giriniz"> </span>
                                                <input type="text" name="choiceOne" maxlength="250" placeholder="Birinci Şık Giriniz..." required>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="İkinci Şık Giriniz"> </span>
                                                <input type="text" name="choiceTwo" maxlength="250" placeholder="İkinci Şık Giriniz..." required>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Üçüncü Şık Giriniz"> </span>
                                                <input type="text" name="choiceThree" maxlength="250" placeholder="Üçüncü Şık Giriniz..." required>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Dördüncü Şık Giriniz"> </span>
                                                <input type="text" name="choiceFour" maxlength="250" placeholder="Dördüncü Şık Giriniz..." required>
                                            </span>
                                        </div>
                                        <div class="row submit-row">
                                            <button type="submit" class="btn btn-block submit-form">Soruyu Ekle</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>


                    </div>
                    <!--/row-->
                </div>

                <div class="tab-pane" id="addCategory">
                   
                        <div class="form-group row">

                            <div class="col-lg-12">
                                @using (Html.BeginForm("Create", "Category"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div id="contact-form" class="form-container" data-form-container="">
                                        <div class="container">
                                            <h2 class="text-center">Kategori Ekle</h2>
                                        </div>
                                        <div class="input-container">
                                            <div class="row">
                                                <span class="req-input">

                                                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Kategori Adı Giriniz..."> </span>
                                                    <input type="text" name="name" placeholder="Kategori İsmi...">
                                                </span>
                                            </div>
                                            <div class="row submit-row">
                                                <button type="submit" class="btn btn-block submit-form">Kategoriyi Ekle</button>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <br />


                        </div>
                        

                    
                </div>
            </div>
        </div>
       
    </div>
</div>



