
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<link href="~/Design/css/loginForm.css" rel="stylesheet" />
<link href="~/Design/css/form.css" rel="stylesheet" />


<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
        <img class="rounded mx-auto d-block" src="~/Design/images/student.png" height="250" style="color:blue"/>
        <br />
        <h1 class="text-center text-white">BİZİM EĞİTİM</h1>
        <h2 class="text-center text-white">Giriş Sayfası</h2>

    

</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="input-group mb-4">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary  active">
                            <input type="radio" name="role" id="option1" value="S" autocomplete="off" checked> Öğrenci
                        </label>
                        <label class="btn btn-outline-primary  ">
                            <input type="radio" name="role" id="option2" value="T" autocomplete="off"> Öğretmen
                        </label>

                    </div>

                </div>
                <div class="form-label-group">
                    <input  id="username" class="form-control" placeholder="Kullanıcı Adı..." name="username" required autofocus>
                    <label for="username">Kullanıcı Adı</label>
                </div>

                <div class="form-label-group">
                    <input  type="password" id="password" class="form-control" placeholder="Şifre..." name="password" required />
                    <label for="password">Şifre</label>
                </div>
                <br />
                <button class="btn btn-primary btn-block" type="submit">Giriş</button>
                

            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/toastr.config.js"></script>
@ToastrHelper.ProcessToastrs()
