
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<link href="~/Design/css/loginForm.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <img src="~/Design/images/logo.png" width="450" height="147" />
        <h2 style="text-align:center;">Giriş Sayfası</h2>

    </div>

</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="input-group mb-4">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-dark active">
                            <input type="radio" name="role" id="option1" value="S" autocomplete="off" checked> Öğrenci
                        </label>
                        <label class="btn btn-outline-dark  ">
                            <input type="radio" name="role" id="option2" value="T" autocomplete="off"> Öğretmen
                        </label>

                    </div>

                </div>
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="username" required>
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" placeholder="Şifre" name="password" required>
                </div>
                <button type="submit" class="btn btn-black">Login</button>

            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/toastr.config.js"></script>
@ToastrHelper.ProcessToastrs()
