@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<div class="container">

    <div class="row">
        <h2 class="cover-heading">Hoşgeldiniz Öğretmenimiz : @HttpContext.Current.User.Identity.Name</h2>
        <p class="lead mt-3">Öğrencilerinizi takip edebileceğiniz onlara soru ekleyebileceğiniz bir sistem. Öğrencilerinizin takibini yapabilir, listesini görebilirsiniz. </p>
        <p class="lead">
            <a href="/Teacher/AddQuestion" class="btn btn-lg btn-secondary">Soru Ekle</a>
        </p>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/toastrconfig.js"></script>
@ToastrHelper.ProcessToastrs()