
@{
    ViewBag.Title = "MyStudents";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

    <h2>Öğrencilerim</h2>

    <table class="table table" >
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>amdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>afat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>atwitter</td>
            </tr>
        </tbody>
    </table>
