@model IEnumerable<StudentEducationSystem.Models.User>
@{
    ViewBag.Title = "MyStudents";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<link href="~/Design/css/myStudentsStyle.css" rel="stylesheet" />
<script src="~/Design/js/studentSearchJS.js"></script>



<div class="container">

    <div class="search-box">
        <h2 class="text-center text-white">Öğrencilerim</h2>
        <br />
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-white">Öğrenci Ara : </h5>
            </div>
            <div class="col-md-9">
                <input type="text" id="search" onkeyup="myFunction()" class="form-control" placeholder="Öğrenci Ara...">

            </div>
        </div>
    </div>
    <div class="search-list">

        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>İsim</th>
                    <th>Soyisim</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>
